{% extends "base.html" %}

{% block title %}Категории публикаций — {{ block.super }}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4 fw-bold text-dark">Каталог категорий</h1>
            <p class="text-muted mb-4">Выберите интересующую вас тему, чтобы отфильтровать статьи по категориям.</p>

            <div class="list-group shadow-sm">
                {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3 fs-5">
                        <div>
                            📁 <strong>{{ category.title }}</strong>
                        </div>
                        <!-- related_name="posts" позволяет узнать количество привязанных постов -->
                        <span class="badge bg-primary rounded-pill">
                                <!-- count_posts - получили доп. поле в модели Category за счет annotate -->
                                {{ category.count_posts }}
                            </span>
                    </a>
                {% empty %}
                    <div class="alert alert-info mb-0">Категории ещё не созданы.</div>
                {% endfor %}
            </div>
            <br>
            <!-- Кнопки управления -->
            <div class="d-flex gap-2 justify-content-between align-items-center">
                <a href="{% url 'blog:index_page' %}" class="btn btn-outline-secondary">Вернуться на главную</a>
                {% if user.is_superuser %}
                    <a href="{% url 'blog:category_create' %}" class="btn btn-dark px-4">Создать категорию</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
